apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: frontend
spec:
  type: NodePort
  selector:
    app: memory-frontend
  ports:
    - port: 5173
      targetPort: 5173
      protocol: TCP
      nodePort: 30080
